<%- include('../header.ejs') %>

<form class="styled-form" id="servico-form" onsubmit="cadastraServico()">
    <div class="form-container">
        <p class="image">
            <label for="image"></label>
            <input type="file" name="image" id="image" onchange="changeImage()">
        </p>
        
        <p>
            <label for="name">Nome do serviço:</label>
            <input type="text" id="name" name="name" placeholder="Coloque o nome do serviço" />
        </p>
        <p>
            <label for="kind">Tipo do serviço:</label>
            <input type="text" id="kind" name="kind" placeholder="Defina o tipo de serviço" />
        </p>
        <p>
            <label for="price">Preço do serviço:</label>
            <input type="number" id="price" name="price" placeholder="Informe o valor do serviço" />
        </p>
        <p>
            <label for="description">Descrição do serviço:</label>
            <textarea id="description" name="description" placeholder="Descreva o serviço"></textarea>
        </p>

        <p>
            <button>Cadastrar</button>
        </p>
    </div>
</form>
<script>
    async function cadastraServico(event) {
        event = event? event : window.event;
        event.preventDefault();

        formulario = document.getElementById('servico-form');
        let { name, kind, price, description } = formulario;
        name = name.value, kind = kind.value, price = price.value, description = description.value;

        if(!name || !kind || !price || !description)
            return mensagem('A', 'Todos os campos são obrigatórios!');

        let form = new FormData(formulario);

        let response = await api('POST','service',form);

        console.log(response);

        return mensagem('S', 'Dados cadastrados com sucesso!');
    }
</script>

<%- include('../footer.ejs') %>