<%
let prof = '';
if(typeof profile == 'string')
    prof = profile;
%>
</div>
<% if(prof != 'user') { %>
<footer>
    <div class="content">
        <div>
            <h3><b>Tags</b></h3>
            <p>
                costureiras costuras serviços produtos mascaras vestidos
                calças roupas personalizar vestir moda feminino masculino
                reparos bainha
            </p>
        </div>
        <div>
            <h3><b>Sobre</b></h3>
            <p>
                Um pouco sobre o nosso empreendimento
            </p>
        </div>
        <div>
            <h3><b>Contato e localização</b></h3>
            <p>
                Nós estamos localizados na Avenida Bucar Neto, número 2118 atrás da concessionária ALENCAUTO.
            </p>
            <p class="local">Avenida Bucar Neto, Floriano - PI<p>
            <p class="emailico">costureirasonline@hotmail.com<p>
            <p class="telefoneico">(89) 99532-3522<p>
        </div>
    </div>
    <div class="content">
        <p>
            Todos os direitos reservados © 2020
        </p>
    </div>
</footer>
<% } else { %>
    <footer>
        <div class="content">
            <p></p>
        </div>
    </footer>
<% } %>
<script type="text/javascript" src="/web/public/js/jquery.js"></script>
<script type="text/javascript" src="/web/public/js/jquery-migrate.js"></script>
<script type="text/javascript" src="/web/public/js/slick.min.js"></script>
<script type="text/javascript" src="/web/public/js/main.js"></script>
</body>

</html>