<%- include('./header.ejs') %>

<div class="sobre">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, tempora!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ipsum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptate!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, velit!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consequatur.</p>
</div>

<%- include('./footer.ejs') %>